html, body {
  height: 100%; }

body {
  margin: 0px;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #222;
  background: #22252A; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 24px;
  border-radius: 0 !important;
  color: #5E6166;
  line-height: 24px;
  font-size: 14px; }
  .header strong {
    text-transform: uppercase;
    color: #5E6166; }
  .header .brand {
    display: inline-block;
    float: left;
    color: #5E6166; }
    .header .brand i, .header .brand h1 {
      vertical-align: middle; }
    .header .brand i {
      display: inline-block;
      margin-right: 8px; }
    .header .brand h1 {
      font-family: "Roboto","Helvetica","Arial",sans-serif;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0;
      margin: 0;
      display: inline-block; }

.material-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle; }

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

.sidebar, .header, #map > .leaflet-control-container > div {
  margin: 0 !important;
  padding: 16px;
  background: #2d3035;
  color: #bfc4cc;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  border: 1px solid #202126; }

.leaflet-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.leaflet-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.leaflet-bottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.leaflet-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.card, #map .leaflet-control.leaflet-control-chunkinfo table {
  background: #2d3035;
  color: #bfc4cc;
  padding-top: 8px;
  padding-bottom: 8px; }

.card-header, #map .leaflet-control.leaflet-control-chunkinfo table caption {
  background: #2d3035;
  color: #5d5f65;
  padding: 8px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left; }

.google-control-base {
  direction: ltr;
  user-select: none;
  min-width: 12px;
  min-height: 12px;
  font-size: 11px;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 0;
  color: #ffffff;
  border: 1px solid #293031;
  background-color: #2d3035; }

.google-control-text {
  padding: 8px;
  text-align: center;
  font-weight: 400;
  color: #f1f1f1; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

#map {
  position: fixed;
  top: 57px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #22252A; }
  #map > .leaflet-control-container > div .leaflet-control {
    margin: 0; }
  #map .leaflet-control.leaflet-control-minimap {
    border: none;
    background: none;
    box-shadow: none; }
    #map .leaflet-control.leaflet-control-minimap .leaflet-tile-pane {
      opacity: 0.5; }
  #map .leaflet-control.leaflet-control-chunkinfo {
    width: 200px; }
    #map .leaflet-control.leaflet-control-chunkinfo .leaflet-control-chunkinfo-group + .leaflet-control-chunkinfo-group {
      margin-top: 10px;
      border-top: 1px solid #373a40; }
    #map .leaflet-control.leaflet-control-chunkinfo table {
      width: 100%;
      border-spacing: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      display: inline-block; }
      #map .leaflet-control.leaflet-control-chunkinfo table caption {
        white-space: nowrap;
        border-bottom-width: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; }
      #map .leaflet-control.leaflet-control-chunkinfo table tr {
        padding: 2px; }
        #map .leaflet-control.leaflet-control-chunkinfo table tr:last-child th {
          border-bottom-left-radius: 3px; }
        #map .leaflet-control.leaflet-control-chunkinfo table tr:last-child td {
          border-bottom-right-radius: 3px; }
        #map .leaflet-control.leaflet-control-chunkinfo table tr td, #map .leaflet-control.leaflet-control-chunkinfo table tr th {
          padding: 8px;
          font-weight: 400; }
        #map .leaflet-control.leaflet-control-chunkinfo table tr th {
          min-width: 50px;
          white-space: nowrap;
          text-align: right;
          color: #787B80;
          border-right: 1px solid #373a40; }
        #map .leaflet-control.leaflet-control-chunkinfo table tr td {
          width: 100%;
          text-align: left;
          font-weight: normal; }
  #map .leaflet-control.leaflet-bar {
    border: none;
    background: none;
    box-shadow: none; }
    #map .leaflet-control.leaflet-bar a {
      border-radius: 0;
      background: none;
      color: #f7f7f7;
      border: none;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      width: 28px;
      height: 27px;
      display: inline-block;
      cursor: pointer;
      text-align: center;
      line-height: 27px;
      font-size: 11px;
      float: left; }
      #map .leaflet-control.leaflet-bar a:hover {
        color: #999999; }
      #map .leaflet-control.leaflet-bar a:before {
        content: ' ';
        display: block;
        position: absolute;
        width: 15px;
        height: 15px;
        left: 7px;
        top: 6px;
        text-align: center;
        background-image: url("//maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png");
        background-repeat: no-repeat; }
      #map .leaflet-control.leaflet-bar a.leaflet-control-zoom-in:before {
        background-position: -60px 0; }
      #map .leaflet-control.leaflet-bar a.leaflet-control-zoom-out:before {
        background-position: -60px -15px; }
      #map .leaflet-control.leaflet-bar a:hover.leaflet-control-zoom-in:before {
        background-position: 0 0; }
      #map .leaflet-control.leaflet-bar a:hover.leaflet-control-zoom-out:before {
        background-position: 0 -15px; }
      #map .leaflet-control.leaflet-bar a.leaflet-disabled.leaflet-control-zoom-in:before {
        background-position: -75px 0; }
      #map .leaflet-control.leaflet-bar a.leaflet-disabled.leaflet-control-zoom-out:before {
        background-position: -75px -15px; }

