:root {
  font-size: 14px; }

html, body {
  height: 100%; }

body {
  margin: 0px;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #222;
  background: #22252A; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1.75rem;
  color: #5E6166;
  line-height: 1.75rem;
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
  background: #2d3035;
  color: #bfc4cc;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.14);
  border-bottom: 1px solid #202126;
  z-index: 999999; }
  .header strong {
    text-transform: uppercase;
    color: #5E6166; }
  .header .brand {
    display: inline-block;
    float: left;
    color: #5E6166; }
    .header .brand i, .header .brand h1 {
      vertical-align: middle; }
    .header .brand i {
      display: inline-block;
      margin-right: .5rem; }
    .header .brand h1 {
      font-family: "Roboto","Helvetica","Arial",sans-serif;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0;
      margin: 0;
      display: inline-block; }

.sidebar, #map > .leaflet-control-container > div {
  margin: 0 !important;
  padding: 0.5rem;
  background: #2d3035;
  color: #bfc4cc;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.14);
  border-radius: 3px;
  border: 1px solid #202126;
  min-height: 50px;
  min-width: 50px; }
  .sidebar:empty, #map > .leaflet-control-container > div:empty {
    display: none; }

#map {
  position: fixed;
  top: 3.75rem;
  left: 0;
  right: 0;
  bottom: 0;
  background: #22252A; }
  #map > .leaflet-control-container > div.leaflet-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 0; }
  #map > .leaflet-control-container > div.leaflet-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0; }
  #map > .leaflet-control-container > div.leaflet-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0; }
  #map > .leaflet-control-container > div.leaflet-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0; }
  #map > .leaflet-control-container > div .leaflet-control {
    margin: 0; }
  #map .leaflet-control + .leaflet-control,
  #map .leaflet-control + .leaflet-control-group,
  #map .leaflet-control-group + .leaflet-control,
  #map .leaflet-control-group + .leaflet-control-group {
    margin-top: 10px;
    border-top: 1px solid #373a40; }
  #map .leaflet-control {
    border: none;
    background: none;
    box-shadow: none;
    float: none; }
    #map .leaflet-control.leaflet-control-minimap .leaflet-tile-pane {
      opacity: 0.5; }
    #map .leaflet-control.leaflet-control-layers .leaflet-control-layers-selector {
      margin-top: 0;
      top: unset; }
    #map .leaflet-control.leaflet-control-layers .leaflet-control-layers-separator {
      border-color: #373a40; }
    #map .leaflet-control.leaflet-control-layers label {
      color: #787B80; }
    #map .leaflet-control.leaflet-control-chunkinfo {
      width: 200px; }
      #map .leaflet-control.leaflet-control-chunkinfo table {
        width: 100%;
        border-spacing: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        display: inline-block; }
        #map .leaflet-control.leaflet-control-chunkinfo table caption {
          white-space: nowrap;
          border-bottom-width: 0;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px; }
        #map .leaflet-control.leaflet-control-chunkinfo table tr {
          padding: 2px; }
          #map .leaflet-control.leaflet-control-chunkinfo table tr:last-child th {
            border-bottom-left-radius: 3px; }
          #map .leaflet-control.leaflet-control-chunkinfo table tr:last-child td {
            border-bottom-right-radius: 3px; }
          #map .leaflet-control.leaflet-control-chunkinfo table tr td, #map .leaflet-control.leaflet-control-chunkinfo table tr th {
            padding: 8px;
            font-weight: 400; }
          #map .leaflet-control.leaflet-control-chunkinfo table tr th {
            min-width: 50px;
            white-space: nowrap;
            text-align: right;
            color: #787B80;
            border-right: 1px solid #373a40; }
          #map .leaflet-control.leaflet-control-chunkinfo table tr td {
            width: 100%;
            text-align: left;
            font-weight: normal; }
    #map .leaflet-control.leaflet-bar a {
      border-radius: 0;
      background: none;
      color: #f7f7f7;
      border: none;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      width: 28px;
      height: 27px;
      display: inline-block;
      cursor: pointer;
      text-align: center;
      line-height: 27px;
      font-size: 11px;
      float: left; }
      #map .leaflet-control.leaflet-bar a:hover {
        color: #999999; }
      #map .leaflet-control.leaflet-bar a:before {
        content: ' ';
        display: block;
        position: absolute;
        width: 15px;
        height: 15px;
        left: 7px;
        top: 6px;
        text-align: center;
        background-image: url("//maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png");
        background-repeat: no-repeat; }
      #map .leaflet-control.leaflet-bar a.leaflet-control-zoom-in:before {
        background-position: -60px 0; }
      #map .leaflet-control.leaflet-bar a.leaflet-control-zoom-out:before {
        background-position: -60px -15px; }
      #map .leaflet-control.leaflet-bar a:hover.leaflet-control-zoom-in:before {
        background-position: 0 0; }
      #map .leaflet-control.leaflet-bar a:hover.leaflet-control-zoom-out:before {
        background-position: 0 -15px; }
      #map .leaflet-control.leaflet-bar a.leaflet-disabled.leaflet-control-zoom-in:before {
        background-position: -75px 0; }
      #map .leaflet-control.leaflet-bar a.leaflet-disabled.leaflet-control-zoom-out:before {
        background-position: -75px -15px; }

.mimap-control {
  background: #2d3035;
  color: #bfc4cc;
  padding: 0.5rem;
  display: block;
  position: relative; }
  .mimap-control .mimap-control-header {
    color: #5d5f65;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    padding: 0;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab; }
    .mimap-control .mimap-control-header:focus, .mimap-control .mimap-control-header:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing; }
    .mimap-control .mimap-control-header h1 {
      line-height: 2rem;
      font-size: 1rem;
      white-space: nowrap;
      margin: 0 0.5rem; }
    .mimap-control .mimap-control-header .mimap-control-handle {
      display: inline-block;
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      width: 0.75rem;
      height: 0.75rem;
      font-size: 1rem;
      padding: 0.5rem;
      padding-left: 0; }
      .mimap-control .mimap-control-header .mimap-control-handle + h1 {
        margin-left: 1.5rem; }
  .mimap-control .mimap-control-group {
    clear: both;
    display: inline-block;
    width: 100%; }
    .mimap-control .mimap-control-group + .mimap-control-group {
      margin-top: 1rem; }
    .mimap-control .mimap-control-group > h1 {
      font-size: 1rem;
      margin-top: .5rem;
      padding: 0;
      color: #5d5f65;
      font-weight: 500;
      text-align: left; }
    .mimap-control .mimap-control-group .mimap-control-group-body {
      padding: 0 0.5rem;
      /*
            > label {
                position: relative;
                //font-family: Arial, sans-serif;
                margin: .5rem;
                // line-height: 1.25rem;
                cursor: pointer;

                > input {
                    position: relative;
                    margin: 0 .15rem 0 0;
                    width: 1.25rem;
                    height: 1.25rem;
                    float: left;

                    &:before {
                        transition: transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    }
                }
            }
             input[type="checkbox"] {
                //top: rem(-6);
                cursor: pointer;
                visibility: hidden;

                &:before {
                    transform: translate(.2325rem,.3125rem) rotate(-45deg) scale(0, 0);
                    content: "";
                    position: absolute;
                    width: 7125rem;
                    height: .25rem;
                    z-index: 1;
                    border: .125rem solid $highlight-color;
                    border-top-style: none;
                    border-right-style: none;
                    visibility: visible;
                }

                &:checked {
                    &:before {
                        transform: translate(.2325rem,.3125rem) rotate(-45deg) scale(1, 1);
                    }
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 1rem;
                    height: 1rem;
                    background: $card-background;
                    border: .125rem solid $default-color;
                    cursor: pointer;
                    visibility: visible;
                }
            }

            input[type="radio"] {
                cursor: pointer;
                visibility: hidden;

                &:before {
                    transform: translate(.29rem, .29rem) scale(0,0);
                    content: "";
                    position: absolute;
                    width: .65rem;
                    height: .65rem;
                    z-index: 1;
                    background: $highlight-color;
                    border-radius: 50%;
                    visibility: visible;
                }

                &:checked {
                    &:before {
                        transform: translate(.29rem, .29rem) scale(1,1);
                    }
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 1rem;
                    height: 1rem;
                    background: $card-background;
                    border: .125rem solid $default-color;
                    border-radius: 50%;
                    visibility: visible;
                }
            }*/ }

.sortable-docking .leaflet-top, .sortable-docking .leaflet-bottom, .sortable-docking .leaflet-left, .sortable-docking .leaflet-right {
  min-width: 100px;
  min-height: 100px; }
  .sortable-docking .leaflet-top:empty, .sortable-docking .leaflet-bottom:empty, .sortable-docking .leaflet-left:empty, .sortable-docking .leaflet-right:empty {
    display: block !important; }
    .sortable-docking .leaflet-top:empty:after, .sortable-docking .leaflet-bottom:empty:after, .sortable-docking .leaflet-left:empty:after, .sortable-docking .leaflet-right:empty:after {
      content: ' ';
      position: absolute;
      top: .5rem;
      left: .5rem;
      bottom: .5rem;
      right: .5rem;
      background: rgba(235, 235, 235, 0.05);
      border: 1px dotted rgba(255, 255, 255, 0.1); }

.sortable-ghost {
  opacity: 0.4; }

.sortable-chosen {
  background: rgba(0, 0, 0, 0.05) !important; }

.leaflet-control-container .leaflet-top, .leaflet-control-container .leaflet-bottom, .leaflet-control-container .leaflet-left, .leaflet-control-container .leaflet-right {
  position: absolute;
  overflow: hidden;
  pointer-events: all; }
  .leaflet-control-container .leaflet-top .leaflet-control, .leaflet-control-container .leaflet-bottom .leaflet-control, .leaflet-control-container .leaflet-left .leaflet-control, .leaflet-control-container .leaflet-right .leaflet-control {
    position: relative;
    display: block; }

