$background: #22252A;
$background-light: #EDEFF0;

$card-header-background: #2d3035;
$card-header-color: #5d5f65;
$card-background: #2d3035;
$card-color-alt: #787B80;
$card-color: #bfc4cc;
$card-seperator-border-color: #373a40;

$highlight-color: #2FA0FF;
$default-color: #787B80;

$font-size-base: 14;
$font-size: #{$font-size-base}px;

$shadow-inset: inset 0 2px 2px 0 rgba(0,0,0,.14);
$shadow-0: 0 0 1px rgba(0, 0, 0, 0);
$shadow-2: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
$shadow-3: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
$shadow-4: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
$shadow-6: 0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12),0 3px 5px -1px rgba(0,0,0,.2);
$shadow-8: 0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);

:root {
    font-size: $font-size;
}

html, body {
    height: 100%;
}

body {
    margin: 0px;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #222;
    background: $background;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 1.75rem;
    color: #5E6166;
    line-height: 1.75rem;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
    background: $card-background;
    color: $card-color;
    box-shadow: 0 0 3px rgba(0,0,0,0.12), 0 0 2px rgba(0,0,0,0.14);
    border-bottom: 1px solid #202126;
    z-index: 999999;

    strong {
        text-transform: uppercase;
        color: #5E6166;
    }

    .brand {
        display: inline-block;
        float: left;
        color: #5E6166;

        i, h1 {
            vertical-align: middle;
        }

        i {
            display: inline-block;
            margin-right: .5rem;
        }

        h1 {
            font-family: "Roboto","Helvetica","Arial",sans-serif;
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 0;
            margin: 0;
            display: inline-block;
        }
    }
}

.sidebar {
    margin: 0 !important;
    padding: 0.5rem;
    background: $card-background;
    color: $card-color;
    box-shadow: 0 0 3px rgba(0,0,0,0.12), 0 0 2px rgba(0,0,0,0.14);
    border-radius: 3px;
    border: 1px solid #202126;
    min-height: 50px;
    min-width: 50px;

    &:empty {
        display: none;
        //z-index: 9999999;
    }
}

#map {
    position: fixed;
    top: 3.75rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: $background;

    > .leaflet-control-container {
        > div {
            @extend .sidebar;

            &.leaflet-top {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-top-width: 0;
            }

            &.leaflet-right {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right-width: 0;
            }

            &.leaflet-bottom {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-bottom-width: 0;
            }

            &.leaflet-left {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left-width: 0;
            }

            .leaflet-control {
                margin: 0;
            }
        }
    }

    .leaflet-control + .leaflet-control,
    .leaflet-control + .leaflet-control-group,
    .leaflet-control-group + .leaflet-control,
    .leaflet-control-group + .leaflet-control-group {
        margin-top: 10px;
        border-top: 1px solid $card-seperator-border-color;
    }

    .leaflet-control {
        border: none;
        background: none;
        box-shadow: none;
        float: none;


        &.leaflet-control-minimap {

            .leaflet-tile-pane {
                opacity: 0.5;
            }
        }

        &.leaflet-control-layers {
            .leaflet-control-layers-selector {
                margin-top: 0;
                top: unset;
            }

            .leaflet-control-layers-separator {
                border-color: $card-seperator-border-color;
            }

            label {
                color: #787B80;
            }
        }

        &.leaflet-control-chunkinfo {
            width: 200px;


            table {
                //@extend .card;
                width: 100%;
                //border: none;
                border-spacing: 0;
                //border-radius: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                display: inline-block;

                caption {
                    //@extend .card-header;
                    white-space: nowrap;
                    border-bottom-width: 0;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                    //line-height: 32px;
                }

                tr {
                    padding: 2px;

                    &:last-child {
                        th {
                            border-bottom-left-radius: 3px;
                        }

                        td {
                            border-bottom-right-radius: 3px;
                        }
                    }

                    td, th {
                        padding: 8px;
                        font-weight: 400;
                    }

                    th {
                        min-width: 50px;
                        white-space: nowrap;
                        text-align: right;
                        color: $card-color-alt;
                        border-right: 1px solid $card-seperator-border-color;
                    }

                    td {
                        width: 100%;
                        text-align: left;
                        font-weight: normal;
                    }
                }
            }
        }

        &.leaflet-bar {

            a {
                border-radius: 0;
                background: none;
                color: #f7f7f7;
                border: none;
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
                position: relative;
                width: 28px;
                height: 27px;
                display: inline-block;
                cursor: pointer;
                text-align: center;
                line-height: 27px;
                font-size: 11px;
                float: left;

                &:hover {
                    color: #999999;
                }

                &:before {
                    content: ' ';
                    display: block;
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    left: 7px;
                    top: 6px;
                    text-align: center;
                    background-image: url('//maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png');
                    background-repeat: no-repeat;
                }

                &.leaflet-control-zoom-in:before {
                    background-position: -60px 0;
                }

                &.leaflet-control-zoom-out:before {
                    background-position: -60px -15px;
                }

                &:hover {
                    &.leaflet-control-zoom-in:before {
                        background-position: 0 0;
                    }

                    &.leaflet-control-zoom-out:before {
                        background-position: 0 -15px;
                    }
                }

                &.leaflet-disabled {
                    &.leaflet-control-zoom-in:before {
                        background-position: -75px 0;
                    }

                    &.leaflet-control-zoom-out:before {
                        background-position: -75px -15px;
                    }
                }
            }
        }
    }
}

.mimap-control {
    background: $card-background;
    color: $card-color;
    padding: 0.5rem;
    display: block;
    //width: 100%;
    position: relative;

    .mimap-control-header {
        color: $card-header-color;
        font-weight: 600;
        font-size: 1rem;
        text-transform: uppercase;
        text-align: left;
        margin: 0;
        padding: 0;
        cursor: move;
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;

        &:focus, &:active {
            cursor: grabbing;
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
        }

        h1 {
            line-height: 2rem;
            font-size: 1rem;
            white-space: nowrap;
            margin: 0 0.5rem;
        }

        .mimap-control-handle {
            display: inline-block;
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            width: 0.75rem;
            height: 0.75rem;
            font-size: 1rem;
            padding: 0.5rem;
            padding-left: 0;

            & + h1 {
                margin-left: 1.5rem;
            }
        }
    }

    .mimap-control-group {
        clear: both;
        display: inline-block;
        width: 100%;

        & + .mimap-control-group {
            margin-top: 1rem;
        }

        > h1 {
            font-size: 1rem;
            margin-top: .5rem;
            padding: 0;
            color: $card-header-color;
            font-weight: 500;
            text-align: left;
        }

        .mimap-control-group-body {
            padding: 0 0.5rem;
            /*
            > label {
                position: relative;
                //font-family: Arial, sans-serif;
                margin: .5rem;
                // line-height: 1.25rem;
                cursor: pointer;

                > input {
                    position: relative;
                    margin: 0 .15rem 0 0;
                    width: 1.25rem;
                    height: 1.25rem;
                    float: left;

                    &:before {
                        transition: transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    }
                }
            }
             input[type="checkbox"] {
                //top: rem(-6);
                cursor: pointer;
                visibility: hidden;

                &:before {
                    transform: translate(.2325rem,.3125rem) rotate(-45deg) scale(0, 0);
                    content: "";
                    position: absolute;
                    width: 7125rem;
                    height: .25rem;
                    z-index: 1;
                    border: .125rem solid $highlight-color;
                    border-top-style: none;
                    border-right-style: none;
                    visibility: visible;
                }

                &:checked {
                    &:before {
                        transform: translate(.2325rem,.3125rem) rotate(-45deg) scale(1, 1);
                    }
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 1rem;
                    height: 1rem;
                    background: $card-background;
                    border: .125rem solid $default-color;
                    cursor: pointer;
                    visibility: visible;
                }
            }

            input[type="radio"] {
                cursor: pointer;
                visibility: hidden;

                &:before {
                    transform: translate(.29rem, .29rem) scale(0,0);
                    content: "";
                    position: absolute;
                    width: .65rem;
                    height: .65rem;
                    z-index: 1;
                    background: $highlight-color;
                    border-radius: 50%;
                    visibility: visible;
                }

                &:checked {
                    &:before {
                        transform: translate(.29rem, .29rem) scale(1,1);
                    }
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 1rem;
                    height: 1rem;
                    background: $card-background;
                    border: .125rem solid $default-color;
                    border-radius: 50%;
                    visibility: visible;
                }
            }*/
        }
    }
}

.sortable-docking {
    .leaflet-top, .leaflet-bottom, .leaflet-left, .leaflet-right {
        min-width: 100px;
        min-height: 100px;
        //padding: 250px;
        &:empty {
            display: block !important;

            &:after {
                content: ' ';
                position: absolute;
                top: .5rem;
                left: .5rem;
                bottom: .5rem;
                right: .5rem;
                background: rgba(235,235,235,.05);
                border: 1px dotted rgba(255,255,255,0.1)
            }
        }
    }
}

.sortable-ghost {
    opacity: 0.4;
}

.sortable-chosen {
    background: rgba(0,0,0,0.05) !important;
}

.leaflet-control-container {
    .leaflet-top, .leaflet-bottom, .leaflet-left, .leaflet-right {
        position: absolute;
        //max-width: 250px;
        overflow: hidden;
        pointer-events: all;

        .leaflet-control {
            position: relative;
            display: block;
        }
    }
}
